@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@media screen and (min-width: 769px) {
    body img {
        height: auto;
        max-width: 30vw;
    }
    body {
        max-width: 30vw;
    }
}

@media screen and (max-width: 540px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        box-shadow: 0px 2px 5px #000000;
    }
    body img {
        height: auto;
        max-width: 100vw;
    }
    .page1 {
        margin-top: 43px;
    }
}

html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

a:link {
    color: #000000;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

.page1 {
    display: inline-block;
    padding-bottom: 10px;
    background-color: #d84c4b;
}

.alt-text {
    color: #000000;
}

.product-content {
    color: #000000;
}

.contact-content {
    display: inline-block;
    color: #000000;
}

.contact {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: #d84c4b;
    border-style: solid;
    border-width: 7px;
}