@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

body img {
    max-width: 400px;
    height: auto;
}

body {
    width: 500px;
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

.header {
    margin-top: 100px;
    margin-bottom: 100px;
}

.intro-content {
    background-color: #d84c4b;
}

.page1 {
    background-color: #d84c4b;
}

.page2 {
    background-color: #d84c4b;
}

.alt-text {
    background-color: #ffffff;
    color: #000000;
}

.product-content {
    color: #000000;
    background-color: #ffffff;
}

.contact {
    background-color: #ffffff;
    border: #d84c4b;
    border-style: solid;
    border-width: 10px;
    color: #000000;
}

.down-content {
    background-color: #ffffff;
}