@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    max-width: 100%;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

.header {
    margin-top: 100px;
    margin-bottom: 100px;
}

.intro-content {
    width: 100%;
    background-color: #d84c4b;
}

.page1 {
    background-color: #d84c4b;
}

.page2 {
    background-color: #d84c4b;
}

.alt-text {
    background-color: #ffffff;
    color: #000000;
    font-size: 0.3em;
}

.product-content {
    color: #000000;
    background-color: #ffffff;
}

.product-content img {
    width: 80%;
}

.product-content p {
    text-align: left;
    padding-left: 10px;
}

html img {
    width: 100%;
    height: auto;
}

.contact {
    background-color: #ffffff;
    border: #d84c4b;
    border-style: solid;
    border-width: 10px;
    color: #000000;
}

.down-content {
    background-color: #ffffff;
}